.div{
    border: 1px solid black;
}
.color{
    background-color: blue;
    
}
#container{
    gap: 2px;
    flex-wrap: wrap;
    display: flex;
    height: 930px;
    width: 930px;
    border: 2px dotted;
    border: outset blue;
}
body{
margin: 0px;
padding: 0px;
}